html {
	padding: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	color: #33333d;
	text-align: center;
}

.container {
	padding: 10px;
}

h1 {
	margin-top: 0;
	font-size: 2em;
}

.profilepic {
	margin: auto;
	z-index: 100;
	width: 200px;
	height: 200px;
	background-image: url("nellieann2.jpg");
	background-size: cover;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

ul {
	padding: 0 0 10px 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

.links a {
	color: gray;
}

.links a:hover, footer a:hover {
	color: purple;
}

.links li {
	display: inline;
	font-size: 50px;
}

#proficiency {
	float: left;
	margin-left: 150px;
}

#tools {
	float: right;
	margin-right: 150px;
}

.quote {
	font-family: serif;
	font-style: italic;
	font-size: 20px;
	clear: both;
}

footer {
	font-size: 1em;
	position: relative;
	bottom: 0;
	margin: 0 auto;
	height: 25px;
	padding-top: 5px;
	border-radius: 5px;
	background-color: grey;
	display: inline block;
	color: white;
}

footer a {
	color: white;
}

@media only screen and (max-width: 650px)  {
#proficiency, #tools {
	float: none;
	margin: 0 auto;
}
footer {
	width: 300px;
}
}

@media only screen and (min-width: 650px)  {
html, footer {
	width: 800px;
}
html {
	margin: auto;
}
.quote {
	padding-bottom: 30px;
}
}
