html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	background: white;
	color: #33333d;
	text-align: center;
}

.container {
	padding: 10px;
}

h1 {
	margin-top: 0;
	font-size: 2em;
}

.profilepic {
	margin: auto;
	z-index: 100;
	width: 200px;
	height: 200px;
	background-image: url("nellieann2.jpg");
	background-size: cover;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

a {
	color: gray;
}

a:hover {
	color: purple;
}

ul {
	padding: 0 0 10px 0;
}

.links li {
	display: inline;
	font-size: 50px;
}

.knowhow ul {
	list-style-type: none;
}

#proficiency {
	float: left;
	margin-left: 150px;
}

#tools {
	float: right;
	margin-right: 150px;
}

.quote {
	font-family: serif;
	font-style: italic;
	font-size: 20px;
	clear: both;
	padding: 15px;
}

@media only screen and (max-width: 650px)  {
#proficiency, #tools {
	float: none;
	margin: 0 auto;
}
}

@media only screen and (min-width: 800px)  {
html {
	width: 800px;
	margin: auto;
}
.quote {
	padding-bottom: 100px;
}
}